body {
    margin: 0;
    color: #fb5454;
}
.register--page {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #E2E2E2;
    height: 100%;
}
.sections {
    display: flex;
    width: 60%;
    height: auto;
    flex-direction: row;
    height: auto;
    margin: 90px;
    background-color: white;
    border-radius: 10px;
}
.input--selector input {
    margin: 15px;
    width: 50%;
    border-radius: 5px;
}
.input--selector input:focus {
    border: 1px solid #fb5454;
}
.color--selector h1 {
    color: #fb5454;
}
.background--color--selector input {
    background-color: #fb5454;
    color: white;
    padding: 10px;
    margin-top: 30px;
}
form {
    display: flex;
    flex: 2;
    flex-direction: column;
    padding: 0;
    height: auto;
    align-content: center;
    justify-content: center;   
}
img {
    flex: 1;
    width: 277px;
    height: auto;
    margin: 0;
    padding: 0; 
}